.Alert {
  position: absolute;
  top: 5vw;
  left: 5vw;

  display: flex;
  flex-direction: column;
  width: 30vw;
  overflow: hidden;
}

.Alert > * {
  width: 100%;
}

.Alert__image {
  display: block;
}

.Alert__message {
  padding: 0.5em;
  padding-top: 0.25em;
  width: 100%;
  line-height: 1.25;
  font-size: 1em;
}

.Alert__message strong {
  color: yellow;
  display: block;
  overflow-wrap: break-word;
  max-width: 20ex;
  font-size: 0.95em;
}
