.FiftyCentFollowerCount {
  position: absolute;
  left: 0;
  top: 0;
}

.FiftyCentFollowerCount__progress {
  transform: rotate(90deg) translateX(-273%);
  transform-origin: bottom left;
  width: 200px;
  height: 550px;
}

.FiftyCentFollowerCount__progress__bar,
.FiftyCentFollowerCount__progress__background {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.FiftyCentFollowerCount__progress__bar {
  height: 100%;
  overflow: hidden;
}

.FiftyCentFollowerCount__progress__bar img {
  filter: grayscale(1);
  display: block;
  width: 200px;
  height: 550px;
}

.FiftyCentFollowerCount__target {
  position: absolute;
  width: 500px;
  top: 153px;
  left: -1em;
  padding: 0.25em 0.5em;
  padding-left: 2em;
  font-size: 0.75em;
  font-weight: bold;
  color: #ffffffad;
  background: #111;
  border-radius: 19px;
  transform: rotate(-1deg);
}
