.LastFMVisualiser {
  position: absolute;
  bottom: 0;
  left: 12.5vw;
  display: flex;
  align-items: center;
  overflow: hidden;
  border-top-right-radius: var(--border-radius-amount);
  background: var(--color-black);
  color: var(--color-white);
  animation: slideUp 500ms ease-in forwards;
}

.LastFMVisualiser--hiding {
  animation-name: slideDown;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
}

@keyframes slideDown {
  to {
    transform: translateY(100%);
  }
}

.LastFMVisualiser__image {
  display: block;
  width: 5vw;
}

.LastFMVisualiser__text {
  font-size: 1em;
  padding: 0 0.5em;
}

.LastFMVisualiser__command {
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0.5em;
  background: var(--color-white);
  color: var(--color-black);
  font-size: 1em;
  font-weight: bolder;
}

.LastFMVisualiser__command img {
  margin-left: 0.25em;
  width: 32px;
}
