.LastFMVisualiser {
  position: absolute;
  bottom: 0;
  right: 1em;
  padding-left: 1em;
  display: flex;
  align-items: center;
  overflow: hidden;
  background: var(--color-black);
  color: var(--color-white);
  clip-path: url(#LastFMVisualiser-clip);
  animation: slideUp 500ms ease-in forwards;
}

.LastFMVisualiser--hiding {
  animation-name: slideDown;
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
}

@keyframes slideDown {
  to {
    transform: translateY(100%);
  }
}

.LastFMVisualiser__image {
  display: block;
  width: 3em;
}

.LastFMVisualiser__text {
  font-size: 1em;
  padding: 0 0.5em;
  transform: translateY(5px) rotate(-1deg);
}

.LastFMVisualiser__command {
  display: flex;
  align-items: center;
  height: 3em;
  padding: 0.5em;
  padding-right: 1em;
  background: var(--color-white);
  color: var(--color-black);
  font-size: 1em;
  font-family: "Fredoka One", sans-serif;
  font-weight: 400;
}
