.KeyboardVisualiser {
  z-index: 9999;
  position: absolute;
  bottom: 1em;
  left: 1em;
  padding: 1em;

  font-weight: bold;
  font-size: 1.5em;
}

.KeyboardVisualiser-hide {
  opacity: 0;
  transition: opacity 1s;
}
