.Runescape {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.RunescapeWrapper {
  position: absolute;
  left: 10%;
  top: 20%;
  width: 100%;
  min-width: 20%;
  max-width: 30%;
  opacity: 0;
  animation: fadeInRunescape ease-out forwards;
}

@keyframes fadeInRunescape {
  0%,
  100% {
    opacity: 0;
    transform: translateY(2.5%);
  }
  10%,
  90% {
    opacity: 1;
    transform: translateY(0%);
  }
}

.RunescapeTextImage {
  width: 100%;

  /* various pixelation scaling options lol */
  image-rendering: optimizeSpeed; /* STOP SMOOTHING, GIVE ME SPEED  */
  image-rendering: -moz-crisp-edges; /* Firefox                        */
  image-rendering: -o-crisp-edges; /* Opera                          */
  image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
  image-rendering: pixelated; /* Chrome */
  image-rendering: optimize-contrast; /* CSS3 Proposed                  */
  -ms-interpolation-mode: nearest-neighbor; /* IE8+                           */
}
