.Snowball {
  opacity: 1;
  transition: opacity 1s;
}

.Snowball--hidden {
  opacity: 0;
}

.Snowball__penguin {
  z-index: 10;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 127px;
  height: 139px;
  transform-origin: bottom left;
  transform: translate(-50%, 50%) scale(3);
  animation: walkIn 0.15s forwards;
}

@keyframes walkIn {
  from {
    transform: translate(-100%, 100%) scale(2);
  }
}

.Snowball__target {
  z-index: 9;
  position: absolute;
  left: 0;
  top: 0;
  background-image: url("../../assets/alerts/penguin-throw-target.png");
  background-repeat: no-repeat;
  background-size: 100%;
}

.Snowball__snowball {
  z-index: 7;
  position: absolute;
  left: 0;
  top: 0;
  border: 0px solid grey;
  border-radius: 50%;
  box-shadow: inset 0 -50px 0 rgba(0, 0, 0, 0.15);
  background: white;
  transition: transform forwards ease-in;
}
