.WordArt {
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

.WordArtImage {
  margin: 20px;
  width: calc(90% - 20px);
  height: calc(100vh - 20px);
  opacity: 0;
  animation: slideInWordArt ease-out 5000ms forwards;
  transform-origin: center;
}

@keyframes slideInWordArt {
  0% {
    opacity: 0;
    transform: rotate(180deg) translate(-100%, 100%);
  }
  10%,
  100% {
    opacity: 1;
    transform: rotate(0deg) translate(0%, 0%);
  }
}
