.BigData {
  display: block;
  width: 1000px;
  position: absolute;
  bottom: 0;
  animation: showBigData forwards ease-in-out;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
}

@keyframes showBigData {
  0% {
    transform: translateY(100%);
  }

  20%,
  60% {
    transform: translateY(80%);
  }

  70%,
  85% {
    transform: translateY(5%) rotate(5deg) scale(1.25);
  }

  100% {
    transform: translateY(100%) rotate(0deg) scale(1);
  }
}
