.ImmaBee-wrap {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  animation: slideInAndOut forwards ease-in-out;
}

@keyframes slideInAndOut {
  0% {
    opacity: 0;
    transform: translateX(-50%);
  }

  10%,
  80% {
    opacity: 1;
    transform: translateX(10%);
  }

  100% {
    transform: translateX(100%);
  }
}

.ImmaBee {
  position: absolute;
  top: 200px;
  left: 0;
  display: block;
  width: 600px;
  filter: drop-shadow(5px 5px 10px rgba(0, 0, 0, 0.5));
  animation: bobAround infinite alternate 240ms ease-out;
  animation-delay: 300ms;
}

@keyframes bobAround {
  0% {
    transform: translateY(0%);
  }

  100% {
    transform: translateY(10%);
  }
}
