.CylonRaider {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  animation: fadeIn 0.15s 6s ease-in forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
